<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>無標題文件</title>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
</head>
<style>
	
	
	main{
		margin-top: 15%;
		margin-left: 20%;
		margin-right: 25%;

	}
	

	
	img{
		float:left;
		margin-right: 20%;
		
	}
	p{

		padding-top: 10%;
		margin-right: 20%;
		margin-left: 20%;
		font-size: 20px;
	}
	.tpo{
		padding-top:0px;
	}
</style>
<body>
	<header>
			
	</header>
	<main id="app">
		<img src="images/"+{{photo}} />
		<p>庫存數量:{{}}</p>
		<label id="tpo">購買數量</label>
		<input>
		<button v-on:click("query")>確認</button>
	</main>

	<script>
		var app = new Vue(
			{
				el:'#app',
				method:{
					query:function(){
						alert("下單成功!!")
					}
				}
			}
		);
	
	</script>
	
</body>
</html>












